*{
  width:"1440px";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  text-decoration: none;
  list-style-type: none;
  width:'100%'

}
::-webkit-scrollbar {
  display: none;
}


a {
  text-decoration: none;
}
