* {
  width: "1440px";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  text-decoration: none;
  list-style-type: none;
  width: "100%";
}
html::-webkit-scrollbar {
  /* display: none; */
  width: 10px;
  color: rgb(216, 38, 38) #777;
}
body::-webkit-scrollbar-thumb{
  /* display: none; */
  width: 10px;
  color: rgb(216, 38, 38) #777;
}
body::-webkit-scrollbar-track{
  /* display: none; */
  width: 10px;
  color: rgb(24, 1, 1) rgb(230, 108, 108);
}
a {
  text-decoration: none;
}

/* ::-webkit-scrollbar {
  display: none;
  width: 1px;
  color: rgb(102, 100, 100) #777;
} */
